.admin-dashboard{
    background: #060517;
    /* height: 100vh; */
    display: flex;
    padding: 40px;
}
.admin-update-section{
    background: #16c5ff;
    border-radius: 15px;
    margin: 5px;
    width: 30%;
}
.admin-detail-section{
    background: #16c5ff;
    border-radius: 15px;
    margin: 5px;
    width: 70%;
}
.admin-update-section-details{
    background: #060517;
    margin:20px;
    padding: 20px;
    border-radius: 15px;
}
.admin-details-section-container{
    background: #060517;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}
.admin-details-section-container>img{
    width: 20%;
    border-radius: 50%;

    
}
.admin-update-btn{
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid greenyellow;
    cursor: pointer;
    display: block;
    width: 90%;
    height: 40px;
    text-align: center;
    padding: 10px;
    background: greenyellow;
}
