@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Roboto+Slab:wght@700&family=Roboto:wght@700&display=swap');
.community-header-1{
    background-image: url('../../../assets/communityBackground.jpg');
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;
    padding: 70px 0;
}
.community-header-1>h1{
    font-size: 87px;
    text-shadow:5px 5px #d1cbcb;
    /* margin: 20px 0; */
}
.community-details-container-1{
    background: #060517;
    display: flex;
    flex-direction: row-reverse;
    padding: 25px;
}
.community-live-project-1{
    background: #16c5ff;
    width: 30%;
    border-radius: 15px;
    margin:10px;
}

.community-history-project-details-1{
    background: #16c5ff;
    width: 70%;
    border-radius: 15px;
    margin: 10px;
    padding: 25px;
    
}

/* .title-project{
    position: sticky;
} */


.community-btn{
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid greenyellow;
    cursor: pointer;
    display: block;
    height: 40px;
    text-align: center;
    padding: 10px;
    background: greenyellow;
}
.community-histrory-project-1{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Slab', serif;
    background: #060517;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    font-size: 25px;
}
.community-histrory-project-1 p{
    /* color: #d1d1d1; */
    margin: 10px;
}
